body {
    z-index:-5;
}

#lines {
    height: 401px;
    width: 401px;
    border: solid 1px white;
    background-size: 40px 40px;
    background-image:repeating-linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 40px),
    repeating-linear-gradient(to bottom, #000, #000 1px, transparent 1px, transparent 40px);
    position:absolute;
    top:10;
    left:10;
    z-index:-4;
}


